{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'uikit/js/uikit.min.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script src="{{=URL('static', 'js/components/components.js')}}"></script>
<script src="{{=URL('static', 'js/components/sidebar_component.js')}}"></script>
<script src="{{=URL('static', 'js/components/post_grid_component.js')}}"></script>
<script src="{{=URL('static', 'js/components/post_component.js')}}"></script>
<script src="{{=URL('static', 'js/components/new_post_modal_component.js')}}"></script>
<script src="{{=URL('static', 'js/components/portal_modal_component.js')}}"></script>
<script src="{{=URL('static', 'js/components/view_post_modal_component.js')}}"></script>
<script>
  var get_posts_url = "{{=URL('api', 'get_posts', user_signature=True)}}";
  var create_post_url = "{{=URL('api', 'create_post')}}";
  var remove_post_url = "{{=URL('api', 'remove_post')}}";
  var search_url      = "{{=URL('api', 'search')}}";
  const register_url  = "{{=URL('api', 'register')}}";
  const login_url     = "{{=URL('api', 'signin')}}";
  const logout_url    = "{{=URL('api', 'logout')}}";
</script>


{{end}}

<title>riis</title>

<div class="main_content_wraper" style="background-color: #a0850b;">
    {{if auth.user is not None:}}
      <div style="display: none;" id="login_hack_div">{{=auth.user.email}}</div>
    {{pass}}
    <div id="vue-div" style="display:none;" >
        <header  style="">
            <div v-on:click="goto('home')" style="cursor:pointer; font-size: 40; display: inline-block; float:left; padding-left: 30px; padding-right: 30px; border-style: solid;">
                <span class="logo">riis</span>
            </div>

            <div class="search-bar" style="display: inline-block;  width: 70%;">

                <button v-if="logged_in" id="show-modal" @click="showNewPost = true" style="float: right; background-color: #ddbb21; border: 1px solid #a58b15;">
                  <i class="glyphicon glyphicon-plus-sign" style="color:black; "></i>
                </button>
  

                <div style="overflow: hidden; padding-right: 10px;">
                    <input type="text" name="term" @keypress.enter="goto('search')" placeholder="What are you looking for?" v-model="query" style="line-height: 30px; border: 1px solid #a58b15; width: 100%; border-radius: 8px; background-color: #ddbb21; color: black;" />
                </div>
            </div>


           
            <div style="display: inline-block; float: right;" class="dropdown">
              <button style="float: right; height: 43px; background-color: #ddbb21; border: 1px solid #a58b15; margin-left: 30px; margin-bottom: 15px; ">
                <i class="glyphicon glyphicon-home" style="color:black;"></i>
              </button>
              <div class="dropdown-content">
                <div class="menu-content" v-if="!logged_in" @click="showPortal = true">
                  Login
                </div>
                <div class="menu-content" v-if="logged_in" @click="sign_out">
                  Sign Out
                </div>
                <div class="menu-content">
                  <a style="color: black; opacity: .8;" href="https://en.wikipedia.org/wiki/Jacob_Riis">Mission</a>
                </div>
              </div>

            </div>
        </header>

        <div v-if="page==='home' || page==='search'" id="" style="padding-top: 90px; padding-left: 25px; ">
          <sidebar class="custom_side_bar"
            v-on:apply-filters="apply_filters"
            v-bind:filter="filter"
          ></sidebar>
          <post-grid class="custom_post_grid"
            v-on:view-post="view_post"
            v-bind:posts="posts"
          ></post-grid>
          <button class="or-ing" v-if="has_more" v-on:click="get_more_posts">load more</button>
        </div>

     
        <view-post-modal v-if="showViewPost" v-on:close="showViewPost = false" v-bind:post="viewed_post"></view-post-modal>
        <portal-modal logo="{{=URL('static','images/logo.png')}}"  v-on:signed-in="signed_in" v-if="showPortal" v-on:close="showPortal = false"></portal-modal>
        <new-post-modal v-on:add-post="upload_image" v-if="showNewPost" v-on:close="showNewPost = false"></new-post-modal>
    </div>
</div>
