/* line 1, ../sass/_main.scss */

/* Styling for sidebar */

.filter_list{
  background-color: white;
  height: 30px;
  border-radius: 8px;
  padding-top: 5px;
  padding-left: 5px;
}


.sidebar{
	background: #ffb30f;
}

.filter_header{
  background-color: #c6a615;
}

.check_container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	content: "\2713";
	color: black;
	opacity: .5;
}

.check_container {
	float:right;
	display: block;
	position: relative;
	cursor: pointer;
	bottom: 16px;
	right: 4px;
	font-size: 30px;
}

/* Styling for New Post */

#image_display{
	display:block;
	margin:auto;
	border: 4px dashed black;
}

.post_input{
	padding-bottom: 15px;
}
.add-image{
	padding-bottom: 10px;
 
}

#file_input{
	float: right;
	margin-top: 0;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 340px;
	height: 300px;
	outline: none;
	opacity: 0;
  
}

/* Styling for modal */

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	display: table;
	transition: opacity .8s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 70%;
	height: 70%;
	margin: 0px auto;
	
	background: #ffb30f;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}


.modal-header h3 {
	margin-top: 0;
}

.modal-container input {
	border-radius: 8px;
	border: 1px solid #a58b15;
	background-color: #ddbb21;
}

.modal-body {
	
}

.modal-body input{
	border: 1px solid #a58b15;
	background-color: #ddbb21;
}

.modal-body-registering {
  margin: 20px 0;
  height: 60%;
}

.modal-default-button {
  float: right;
  border-radius: 8px;
  padding-bottom: 10px;
}


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Styling for post component */

.post_cell {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: #fffcef;
}

.post_content {
  margin-bottom: 10px;
  margin-top: -10px;
}

.post_feedback {
  margin-left: 10px;
  margin-right: 20px;
}

.post_feedback .btn {
  float: left;
}

.post_feedback .interested {
  float: right;
}

/* Miscellaneous */

header{
  background: #ffb30f;
  width: 100%; 
  position:fixed; 
  padding: 20px 10px 10px 10px;
  border-bottom: 2px solid #c17801;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ddbb21;
	width: 80px;
	overflow: auto;
	top: 45px;
	font-size: 15px;
	right:7px;
	z-index: 1;
	text-align: center;
	border-radius: 8px;
	border: 1px solid #a58b15;
	opacity: .8;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.menu-content:hover { 
    background-color: #ba9c1a;
}

.inner {
  width: 280px;
  margin: 5 auto;
}

.or-ing{
	border: 1px solid #a58b15;
	background-color: #ddbb21;
}

.search-bar button {
  height: 46px;
}

button {
  border-radius: 8px;
}

.half {
	float: left;
    width: 50%;
}

.logo{
	color:black;
	font-size:42.0px;
	font-family:Courier New;
	text-align:left;
	margin-top:0px;
	float:left;
   	font-style: bold;
	margin:0px;
	line-height:50px;
	padding-left:9px;
}

.loader {
	border: 2px solid #f3f3f3; /* Light grey */
	border-top: 2px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
} 

